*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;appearance: none;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}
html{
    font-size: min(.7em + .4vw, 1.5rem);
    font-family: 'Cormorant Garamond','SourceHanSerifKR',Georgia,serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.33;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

    @include tablet{
        font-size: min(1em, 1rem);
    }
}


